<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
	<PropertyGroup>
		<Configuration>Release</Configuration>
		<Platform>x64</Platform>
		<PublishDir>.\</PublishDir>
		<PublishProtocol>FileSystem</PublishProtocol>
		<_TargetId>Folder</_TargetId>
		<TargetFramework>net8.0</TargetFramework>
		<RuntimeIdentifier>win-x64</RuntimeIdentifier>
		<PublishAot>true</PublishAot>
		<DebugType>none</DebugType>
		<StripSymbols>true</StripSymbols>
		<IlcInvariantGlobalization>true</IlcInvariantGlobalization>
		<RootAllApplicationAssemblies>false</RootAllApplicationAssemblies>
		<IlcGenerateCompleteTypeMetadata>false</IlcGenerateCompleteTypeMetadata>
		<IlcGenerateStackTraceData>false</IlcGenerateStackTraceData>
		<IlcDisableUnhandledExceptionExperience>true</IlcDisableUnhandledExceptionExperience>
		<IlcFoldIdenticalMethodBodies>true</IlcFoldIdenticalMethodBodies>
		<SelfContained>true</SelfContained>
		<PublishSingleFile>false</PublishSingleFile>
		<PublishReadyToRun>false</PublishReadyToRun>
		<OptimizationPreference>Speed</OptimizationPreference>
		<PublishTrimmed>true</PublishTrimmed>
	</PropertyGroup>
</Project>